@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  background: var(--background-color);
  margin: 0;
  font-family: Inter;
}

/*light mode*/
:root {
  --background-color: #f9fafb;
  --text-color: #1a1a1a;
  --primary-color: #123456;
  --secondary-color: #0b1c2c;
  --third-color: #345a89;
  --fourth-color: #7fa1c1;
  --fifth-color: #d6e3ef;
  --red-text-color: #b71c1c;
  --red-background-color: #ffcdd2;
  --green-text-color: #1c4421;
  --green-background-color: #a5d6a7;
  --orange-text-color: #e65100;
  --orange-background-color: #ffe0b2;
}

/*dark mode*/
.dark-mode {
  --background-color: #121212;
  --text-color: #f1f5f9;
  --primary-color: #123456;
  --secondary-color: #0b1c2c;
  --third-color: #345a89;
  --fourth-color: #7fa1c1;
  --fifth-color: #d6e3ef;
  --red-text-color: #b71c1c;
  --red-background-color: #ff8a80;
  --green-text-color: #1c4421;
  --green-background-color: #a5d6a7;
  --orange-text-color: #ffab40;
  --orange-background-color: #ffab40;
}
